/* Confirm Dialog */

@import "colors.rasi"

* {
  background-color:       @al;
  text-color:             @fg;
	font:				 	          "JetBrainsMono Nerd Font 10";
}

window {
  width:      			      230px;
  padding:    			      25px;
  border:					        0px 0px 4px 0px;
  border-radius:          0px;
  border-color:           @ac;
  location:               west;
  x-offset: 40px;
  y-offset: -10px;
  background-color:@bg;
}

entry {
  expand: 				  true;
  text-color:				@ac;
}
